/* Réinitialisation des styles par défaut du navigateur */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Style de base */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
  }
  
  header {
    background-color: #333;
    background-image: url("Assets/Images/fond_header.jpg");
    background-size: cover;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  /* ...styles CSS précédents... */

article {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  article h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  article p {
    font-size: 16px;
  }
  
  /* ...styles CSS suivants... */

  #about {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  #about h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #about p {
    font-size: 16px;
  }
  
  .social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .social-icons a {
    color: #333;
    font-size: 20px;
    margin-left: 10px;
  }
  


  .social-icons a img {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    vertical-align: middle;
    
  }
  

  .social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-languages {
    display: inline-block;
    padding: 4px 8px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 14px;
    border-radius: 4px;
    margin-right: 5px;
  }
  .project-languages img {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    vertical-align: middle;
  }
  
  
  .image-round {
    border-radius: 50%;
    width: 200px; /* Ajuste la taille de l'image selon tes besoins */
    height: 200px;
    display: block;
    margin-left: 100px;
  }


  a {
    box-shadow: inset 0 0 0 0 #ffffff;
    color: #d65454;
    padding: 0 ;
    margin: 0 ;
    transition: color .7s ease-in-out, box-shadow .7s ease-in-out;
  }
  a:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #3a494e;;
  }

  .title {
    font-size: 30px;
    font-weight: bold;
    color: #d65454;
    text-align: center;
    margin-bottom: 20px;
  }

  
  #panda-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
  }
  
  .falling-panda {
    position: absolute;
    top: -100px; /* Position initiale en haut de l'écran */
    left: calc(var(--random-left) * (100%)); /* Utilise une variable CSS pour la position aléatoire */
    width: 100px; /* Ajuste selon la taille de ton image */
    height: 100px; /* Ajuste selon la taille de ton image */
    animation: fall-animation 4s linear infinite; /* Ajuste la durée et le timing selon tes préférences */
  }
  
  @keyframes fall-animation {
    0% {
      top: -100px;
      opacity: 0;
    }
    100% {
      top: calc(100% + 100px); /* Position finale en bas de l'écran */
      opacity: 1;
    }
  }